# From main branches not necessary here
__pycache__*
artifacts/
assets/
conv_ssl.egg-info/
conv_ssl/
lightning_logs/
runs/
wandb/

*.lock

pyrightconfig.json

# Jekyll local stuff
_site/
.jekyll-cache/
