---
layout: default
title: How Much does Prosody Help Turn-taking?
description: Investigations using Voice Activity Projection Models
fig: "./data/cpc_48_50hz_15gqq5s5/figs/"
wav: "./data/cpc_48_50hz_15gqq5s5/audio/"
phrase: psychology
---

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<div class="abstract">
  <div class="row">
    <div class="column">
      <div class='abstract'>
        <h2> Abstract </h2>
        <p>
          Turn-taking is a fundamental aspect of human communication and can be described
          as the ability to take turns, project upcoming turn shifts, and supply
          backchannels at appropriate locations throughout a conversation. In this work
          we investigate the role of prosody in turn-taking using the recently proposed
          Voice Activity Projection model, which incrementally models the upcoming speech
          activity of the interlocutors in a self-supervised manner, without relying on
          explicit annotation of turn-taking events, or the explicit modeling of prosodic
          features. Through manipulation of the speech signal, we investigate how these
          models implicitly utilize prosodic information. We show that these systems
          learn to utilize various prosodic aspects of speech both on aggregate
          quantitative metrics of long-form conversations and on single utterances
          specifically designed to depend on prosody.
        </p>
        <div id="authors">
          <b>Erik Ekstedt</b>, <b>Gabriel Skantze</b>
          </p>
          <a href="https://arxiv.org/abs/2205.09812">Paper</a>
          <br>
          <a href="https://arxiv.org/abs/2205.09812">VAP-Paper</a>
        </div>
      </div>
    </div>
    <div class="column">
      <br>
      <br>
      <img src="./data/model.png" style="width:80%">
    </div>
  </div>
  <br />
</div>

<nav class='navbar'>
  <button><a class="navButton" href="/">Home</a></button>
  <button><a class="navButton" href="/basketball">Basketball</a></button>
  <button><a class="navButton" href="/bike">Bike</a></button>
  <button><a class="navButton" href="/drive">Drive</a></button>
  <button><a class="navButton" href="/experiment">Experiment</a></button>
  <button><a class="navButton" href="/first_year">First year</a></button>
  <button><a class="navButton" href="/live">Live</a></button>
  <button><a class="navButton" href="/psychology">Psychology</a></button>
  <button><a class="navButton" href="/student">Student</a></button>
  <button><a class="navButton" href="/work">Work</a></button>
</nav>
<div class="phrase-container">
  <h2> Psychology </h2>
  <p><i> <b>Do you study psychology</b> here at this university? </i></p>
  {% for speaker in site.data.speakers %}
  {% for tts in speaker.tts %}
  <table border="1" class="inlineTable">
    <tr>
      <td>Audio</td>
      <td>Long</td>
      <td>Short</td>
    </tr>

    <tr id={{speaker.gender}}>
      <td> Original {{speaker.gender}}</td>
      <td>
        <img src={{page.fig}}/{{page.phrase}}/long/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_long{{tts}}_regular.png
          class="figures" alt="">
        <audio controls>
          <source src={{page.wav}}/{{page.phrase}}/long/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_long{{tts}}_regular.wav
            type="audio/wav">
        </audio>
      </td>
      <td>
        <img src={{page.fig}}/{{page.phrase}}/short/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_short{{tts}}_regular.png
          class="figures" alt="">
        <audio controls>
          <source src={{page.wav}}/{{page.phrase}}/short/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_short{{tts}}_regular.wav
            type="audio/wav">
        </audio>
      </td>
    </tr>

    <tr id={{speaker.gender}}>
      <td> Flat F0 {{speaker.gender}} </td>
      <td>
        <img
          src={{page.fig}}/{{page.phrase}}/long/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_long{{tts}}_flat_f0.png
          class="figures" alt="">
        <audio controls>
          <source
            src={{page.wav}}/{{page.phrase}}/long/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_long{{tts}}_flat_f0.wav
            type="audio/wav">
        </audio>
      </td>
      <td>
        <img
          src={{page.fig}}/{{page.phrase}}/short/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_short{{tts}}_flat_f0.png
          class="figures" alt="">
        <audio controls>
          <source
            src={{page.wav}}/{{page.phrase}}/short/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_short{{tts}}_flat_f0.wav
            type="audio/wav">
        </audio>
      </td>
    </tr>
    <tr id={{speaker.gender}}>
      <td> Flat Intensity {{speaker.gender}} </td>
      <td>
        <img
          src={{page.fig}}/{{page.phrase}}/long/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_long{{tts}}_flat_intensity.png
          class="figures" alt="">
        <audio controls>
          <source
            src={{page.wav}}/{{page.phrase}}/long/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_long{{tts}}_flat_intensity.wav
            type="audio/wav">
        </audio>
      </td>
      <td>
        <img
          src={{page.fig}}/{{page.phrase}}/short/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_short{{tts}}_flat_intensity.png
          class="figures" alt="">
        <audio controls>
          <source
            src={{page.wav}}/{{page.phrase}}/short/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_short{{tts}}_flat_intensity.wav
            type="audio/wav">
        </audio>
      </td>
    </tr>
    <tr id={{speaker.gender}}>
      <td> Low Pass {{speaker.gender}} </td>
      <td>
        <img
          src={{page.fig}}/{{page.phrase}}/long/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_long{{tts}}_only_f0.png
          class="figures" alt="">
        <audio controls>
          <source
            src={{page.wav}}/{{page.phrase}}/long/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_long{{tts}}_only_f0.wav
            type="audio/wav">
        </audio>
      </td>
      <td>
        <img
          src={{page.fig}}/{{page.phrase}}/short/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_short{{tts}}_only_f0.png
          class="figures" alt="">
        <audio controls>
          <source
            src={{page.wav}}/{{page.phrase}}/short/{{speaker.gender}}/{{page.phrase}}_{{speaker.gender}}_short{{tts}}_only_f0.wav
            type="audio/wav">
        </audio>
      </td>
    </tr>
  </table>
  <br>
  {% endfor %}
  {% endfor %}
</div>
