# lightning
pytorch-lightning
numpy
scipy
scikit-learn
einops
matplotlib
wandb
omegaconf
hydra-core
pytest
datasets

# CPC: does not seem to work directly. One must install cython 'pip install cython'
# prior to 'pip install -r requirements.txt'
cython
soundfile
git+https://github.com/facebookresearch/CPC_audio.git


# Our Dependencies
git+https://github.com/ErikEkstedt/vap_turn_taking.git
# git+https://github.com/ErikEkstedt/datasets_turntaking.git
