<div class="abstract">
  <div class="row">
    <div class="column">
      <div class='abstract'>
        <h2> Abstract </h2>
        <p>
          Turn-taking is a fundamental aspect of human communication and can be described
          as the ability to take turns, project upcoming turn shifts, and supply
          backchannels at appropriate locations throughout a conversation. In this work
          we investigate the role of prosody in turn-taking using the recently proposed
          Voice Activity Projection model, which incrementally models the upcoming speech
          activity of the interlocutors in a self-supervised manner, without relying on
          explicit annotation of turn-taking events, or the explicit modeling of prosodic
          features. Through manipulation of the speech signal, we investigate how these
          models implicitly utilize prosodic information. We show that these systems
          learn to utilize various prosodic aspects of speech both on aggregate
          quantitative metrics of long-form conversations and on single utterances
          specifically designed to depend on prosody.
        </p>
        <div id="authors">
          <b>Erik Ekstedt</b>, <b>Gabriel Skantze</b>
          <br>
          <a>Paper (TBA)</a>
          <br>
          <a href="https://arxiv.org/abs/2205.09812">VAP-Paper</a>
        </div>
      </div>
    </div>
    <div class="column">
      <br>
      <br>
      <img src={{ '/data/model.png' | relative_url }} style="width:80%">
    </div>
  </div>
  <hr>
</div>
